header{
    margin: auto;
    width: 80%; 
}

section{
    margin: 0 20px 0 20px;
}

header h1{
    font-size: 29pt;
    text-transform: uppercase;

}

/* text styling start*/
h1, h2, h3, h4{
    font-family: 'Work Sans', sans-serif;
}

h1{
    align-content: center;
    font-size:30pt;
}

h2{
    font-size:22pt;
    font-weight: 400;
}

h3{
    font-size: 18pt;
    font-weight:400;
}

h4{
    font-size:14pt;
    margin: unset;
    font-weight:600;
}

p, li{
    font-size:14pt;
}

p, nav, ul, ol, time, blockquote, div li, table{
    font-family: 'Nunito', sans-serif;
    line-height: 1.5em;
}

blockquote{
    font-size:16pt;
    margin:30px;
}

#venTable th{
    text-align: left;
    width:20%;
}

#cuzTable th{
    text-align: left;
    width:25%;
}

/* text styling end*/

header{
    text-align: center;
}
.navbar ul, .VenSol nav ul{
    list-style-type: none;
    padding-left: unset;
}

.navbar ul li a, header h1 a{
    text-decoration: none;
    color: black;
}

li a{
    color:rgb(35, 35, 35);
}

.navbar li a:hover{
    background-color: #EDFBFF;
    color:#002A47;
    border-radius: 8px;
    padding: 5px 20px;
}

.navbar li {
    padding:4px;
}

.description, #skills{
    padding-bottom: 50px;
}

.sectdiv:last-of-type{
    justify-content: left;
}


.thoughts{
    width:60%;
    margin:auto;
}


.sectdiv h1{
    margin-bottom:0px;
    margin-top:unset;
}

.description{
    margin: auto;
}

.imgContain{
    margin:auto;
    height:500px;
}

.mainpage article a img{
    overflow: hidden;
    object-fit: cover;
}

footer{
    background-image: url("images/footer2.svg");
    background-size: cover;
    margin: 30px 0 0 0;
    background-position: right bottom;
    height:150px;
    padding-bottom:30px;
}

footer > nav ul {
    list-style-type: none;
    display: flex;
    padding-left: unset;
    margin: auto;
    width: 80%;
    gap:10px;
    margin-top:8px;
}

footer > nav ul li a{
    padding: 4px 16px;    
    text-decoration: none;
    border: 1px solid;
    border-radius: 8px;
}

footer > h2, footer > ul{
    width: 80%;
    margin: auto;
    padding: 10px;
}

#about > article{
    margin:auto;
    margin-bottom:50px;
}

#about h3{
    margin-bottom:16px;
    margin-top: 3em;
}

#about {
    width:80%;
    margin:auto;
}

#resume > h2:first-child{
    text-align: center;
    margin-bottom:25px;
}

.description h2{
    margin-bottom:16px;
    margin-top:16px;
}

.description h3, .description p{
    margin: 10px 0px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body{
    animation: fadeIn ease-in 1s;
}

#resume > article > h3, #resume > article >p, #resume > article >h4{
    margin: unset;
    padding-bottom: 5px;
}

.hifi{
    width:60%;
    margin:auto;
}

#photography h2{
    text-align: center;
    padding-bottom: 10px;
}

.column > img{
    padding-bottom: 10px;
}

img{
    width: 100%;
    height: auto;
}

.internalpage, .internalpageCuz{
    margin-top: 3em;
}

.visualDes div{
    width:60%;
    margin:auto;
    display: grid;
    align-content: center;
    gap:50px;
}

.visualDes div:first-child{
    width:45%;
}

.internalpage article:not(:first-of-type), .internalpageCuz article:not(:first-of-type){
    margin: 6em 0em;
}

.internalpage article:first-of-type, .internalpageCuz article:first-of-type{
    margin-bottom: 2em;
}

.internalpage article h3, .internalpageCuz article h3{
    margin-bottom:2px;
}

.research div:not(:first-of-type){
    margin: 65px 0px;
}

.research ol{
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
}

.research li{
    font-weight:bold;
}

#venTable tr{
    height:40px;
}

.highfid div{
    width:100%;
    height:auto;
    margin:16px 0px;
}

.highfid{
    background-color: #FAFAFA;
    padding:20px 60px;
    margin-top:100px;
    border-radius: 16px;
}

.highfidVenmo div{
    width:100%;
    height:auto;
    margin:16px 0px;
}

.highfidCuz div{
    margin-bottom:50px;
    gap:50px;
}

.highfidVenmo, .highfidCuz{
    margin-top:100px;
}

.reflection{
    background-color: rgb(48, 49, 52);
    padding: 20px;
}

.content{
    color: white;
    margin: auto;
    padding: 20px;
}

.internalpage img{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.internalpageCuz img{
    margin: auto;
}

.bottomnavbar nav ul{
    padding-left: unset;
    display: flex;
    justify-content: center;
    color:rgb(37, 71, 173);
}

.bottomnavbar nav ul li{
    list-style-type: none;  
    padding: 20px;  
}

.bottomnavbar nav ul li a{
    text-decoration: none;
}

.mainpage img{
    transition: 0.5s;
    height:100%;
    border-radius: 8px;
}

.more img{
    transition: 0.5s;
}


.mainpage img:hover, .more img:hover{ 
    scale: 1.02;
}

.critique{
    margin-bottom: 6em;
}

.mainpage article{
    margin-bottom:30%;
}

.CarbSol{
    background-color:rgb(226, 243, 220);
}

.VenSol{
    background-color:rgb(243, 250, 255);
}

.cuzSol{
    padding: 30px 40px;
    background-color:rgb(241, 247, 237);
}

.solution{
    padding: 30px 40px;
    border-radius: 8px;
}
.solution h2, .VenSol p{
    margin-top: 10px;
    margin-bottom:10px;
}

.cuzSol p{
    margin-top:unset;
}

.button a:hover, footer > nav ul li a:hover{
    background-color: #EDFBFF;
    color:#002A47;
    border-color: #0097c1;
    /* border-color: #EDFBFF; */
}

.button a{
    text-decoration: none;
    list-style-type: none;
    color:#002A47;
    border: 1px solid #002A47;
    border-radius: 8px;
    padding:4px 16px;
    transition: 0.25s ease;
}

.more h2{
    margin:0;
}

#myVideo{
    max-height:100%;
    max-width:100%;
    border-radius: 8px;
}

.moreButton{
    align-items: center;
}

.moreButton p{
    margin-left:auto;
    text-align: center;
}

#theVideo{
    margin-bottom:100px;
}

#education ul{
    margin-top: 0;
}

#education p{
    margin: 0;
}

.headerimg{
    width: 100%;
    height: 500px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#headCarb{
    background-image: url(images/carbonology/carbonologyMockup.png);
}

#headVen{
    background-image: url(images/venmo/diagonalmockup.png);
    background-position: 0 -30px;
}

#headCuz{
    background-image: url(images/cuzen.png);
}

#headPet{
    background-image: url(images/petpulse/cover.jpg);
}

#headThesis{
    background-image: url(images/thesis/mockup.png);
}

.top h3, .top p{
    margin:0;
}

.top aside div{
    margin-top:40px;

}

.summary p:first-of-type{
    margin-bottom: 30px;
}


.blocks{
    display:block;
    align-items: center;
}

.blocks img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 8px;
}

.more{
    width:80%;
    margin:auto;
}

.imgFoot img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.imgFoot h4{
    margin-top:12px;
}

.imgFoot div h4 a{
    text-decoration: none;
    color:black;
}

.otherProj{
    text-align: center;
    margin: 100px auto;
    width:80%;
}

.imgFoot div{
    margin-bottom:32px;
}

.break ul li{
    list-style-type: none;
    margin-bottom: 32px;
}

.break ul li:last-of-type{
    margin-bottom:0;
}

.break ul{
    margin-bottom:0;
}

.break {
    padding-left:0;
    border: 1px solid;
    border-radius:16px;
    padding:26px; 
}

.break h2{
    margin-top:unset;
    margin-bottom:20px;
}

.break ul li img{
    height:auto;
    width:100%;
    border-radius: 8px;
}

.break ul li p{
    margin-bottom:unset;
    margin-top:8px;
}

#pillars > div > p{
    margin-top:8px;
}

.moreButton h1{
    margin:0;
}

.more div{
    margin-bottom:30%;
}

.innerP{
    margin:72px 0px;
}

.innerP img{
    width:100%;
}

#shrink img{
    width:80%;
}

.visDes > div{
    margin: 32px 0;
}

.set p{
    margin-bottom:0;
}

.set h3{
    margin-top:0;
}

.theGif img{
    width:250px;
}

.portrait2 img{
    width:60%;
    display: block;
    margin:auto;
}

.portrait2 > h2{
    text-align: center;
}

.imgWrap:hover .imageDescrip{
    visibility: visible;
    opacity: 1;
}

.imgWrap{
    position: relative;
    height: fit-content;
    width: fit-content;
}

.imageDescrip{
    position: absolute;
    bottom: 5%;
    left:12%;
    color: #ffffff;
    padding:8px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
    width:70%;
}

#office > img, #middleSmImg, .cmsi img, #des115 > img{
    box-shadow: 0px 11px 49px -6px rgba(0,0,0,0.1);
}

.cmsi img{
    width: 50%;
}

.cmsi{
    text-align: center;
    margin:auto;
}

.graphic{
    margin-bottom:100px;
}

.extraSpace li{
    margin-bottom: 1em;
}

.button a{
    display:block;
    text-align:center;
}

.mainpage article a{
    display: block;
}

.imgContain, .imgContain2{
    border-radius: 8px;
}

#whoAmI{
    display:flex;
    align-items: baseline;
    gap: 10px;
}

#whoAmI h2{
    margin-bottom:0px;
}

.break ul{
    padding-left:0;
}

@media only screen and (min-width: 600px) {

    footer{
        padding: 50px; 
    }

    #whoAmI{
        display: block;
    }

    #whoAmI h2{
        margin-bottom:8px;
        margin-top:18px;
    }

    #about > article{
        width:80%;
        padding: 10px;
    }

    .internalpage, .content, .internalpageCuz{
        width: 60%;
    }

    .sectdiv p{
        margin-left: auto;
        align-self: center;
        text-align: right;
    }

    section{
        margin: auto;
        width: 80%; 
    }

    .graphic h2{
        text-align: center;
    }

    #des115, #office{
        display:flex;
        gap:50px;
        justify-content: center;
    }

    #honorsmockup{
        width:30%;
    }

    /* #des115 img{
        width:50%;
        height:fit-content;
    } */

    #des115mockup{
        width:50%;
    }

    #honorsmockup{
        width:30%;
    }

    #office img{
        width:30%;
        height:fit-content;
    }

    .sm{
        display:flex;
        gap: 32px;
        justify-content: center;
    }

    .sm img{
        width:27%;
        height:fit-content;
    }

    #middleSmImg{
        width:26%;
    }

    .set{
        display:flex;
        gap:72px;
        align-items: center;
    }

    .set div{
        width:50%;
    }
    .set img{
        width:70%;
    }

    .userPerDescrip div p{
        height:18%;
    }

    .innerP3{
        width:40%;
        display:block;
        margin:auto;
    }

    .innerP2 img{
        width:30%;
        display:block;
        margin:auto;
    }

    .more div{
        margin-bottom:0;
    }

    .userPerDescrip{
        display:flex;
        gap:50px;
    }

    .mainpage article{
        margin-bottom:10%;
    }

    .more div:last-child{
        text-align: right;
    }

    .moreButton{
        display:flex;
        margin-top:8px;
    }

    .imgContain{
        width:80%;
        overflow:hidden;
        height:500px;
    }

    .imgContain2{
        overflow:hidden;
        width:100%;
        height:70%;
    }

    .imgFoot{
        display:flex;
        width:50%;
        margin:auto;
        justify-content: center;
        gap:50px;
        padding-top:25px;
    }
    
    .imgFootContain{
        display: flex;
        width:250px;
        height:250px;
    }

    .break ul li{
        width:25%;
        
    }

    .story{
        display:flex;
    }

    .story div{
        width:80%;
    }

    .story h2{
        margin-bottom:8px;
    }

    

    #portrait img{
        margin-left:50px;
    }

    .break ul{
        display:flex;
        gap:20px;
        padding:unset;
    }

    header{
        display: flex;
        height:100px;
    }

    .navbar ul {
        list-style-type: none;
        display: flex; 
        padding: 10px 5px;
        border: 1px solid;
        border-radius: 8px;
    }

    .navbar{
        margin-left: auto;
        align-self: center;
        justify-content: center;
    }

    .navbar ul li a{
        padding: 0px 20px;
        text-decoration: none;
        list-style-type: none;
    }

    .description > div{
        width: 50%;
    }

    .description{
        display:flex;
        width: 80%;
        justify-content: center;
    }

    #bottomsection{
        display: flex;
        width:80%;
        margin: auto;
    }

    #education, #awards{
        width: 50%;
    }

    #skills{
        width: 80%;
        margin: auto;
        padding:30px;
        margin-bottom: 3em;
    }

    .photogrid{
        display: flex;
        width: 100%;
        gap: 30px;
    }
    
    .column{
        width: 33%;
    }
    
    .column > img{
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    
    .column > p{
        margin-bottom:30px;
    }

    .intro{
        display: flex;
        justify-content: center;
        gap:120px;
    }

    .intro img{

        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .intro div:first-child{
        width:30%;
    }

    .intro div{
        align-self: center;
        width:63%;
    }

    .top{
        display: flex;
        width: 100%;
        gap:55px;
    }

    aside{
        justify-content: right;
        margin-left: auto;
    }

    .summary{
        width: 90%;
    }

    #pillars{
        display: flex;
        gap:100px;
        margin-top:16px;
    }

    #pillars div{
        width:50%;
    }

    #graphics{
        margin-left:auto;
    }

    .sectdiv{
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .sum div{
        width:50%;
    }

    .sum{
        width:80%;
        margin:auto;
        justify-content: center;
    }
    
    .sum p{
        margin:0;
    }

    .more{
        display:flex;
        width:64%;
        margin:auto;
        gap:65px;
    }

    .more div{
        width:100%;
    }

    .paragraph div{
        display: flex;
        gap:50px;
        padding-bottom: 40px;
    }

    .paragraph p{
        margin:unset;
        width:80%;
    }

    .paragraph{
        h4{
            width:15%;
        }
    }

    .align{
        display:flex;
        align-items: center;
    }

    .petpulseGif img{
        width:250px;
        height:auto;
    }

    .petpulseGif{
        gap:50px;
        margin:0 auto 100px auto;
        
    }

    .theproblem{
        display:flex;
        gap:20px;
    }

    .theproblem h2{
        width:100%;
        margin-top: 18px;
    }

    .theproblem2{
        display: flex;
        gap:20px;
    }

    .theproblem2 h2{
        width:75%;
    }
    

    .visualDes, .cuzImg{
        display:flex;
    }

    .cuzImg{
        width:75%;
        height: 25%;
        margin:auto;
    }

    .cuzImg img{
        width:50%;
    }

    .cuzImgDec{
        width:80%;
        display:block;
        margin:auto;
    }

    .stats{
        margin:unset;
        display:flex;
    }

    .statsCuz{
        width:80%;
        gap:50px;
        margin:auto;
    }

    .funct{
        width:75%;
    }

    .gif{
        width:115%;
    }

    #initalDes{
        display: flex;
        gap:50px;
    }

    #col2{
        width:200%;
    }

}