
/* ======== text styling ======== */
body{
    font-family: "Instrument Sans", sans-serif;
    color:rgb(62, 62, 62);
}

h2{
    font-size:28px;
    margin:0 0 16px 0;
}

h3{
    font-size:22px;
    margin:0 0 16px 0;
}

h4{
    font-size:19px;
    margin: 0 0 16px 0;
}

h5{
    font-size: 17px;
    font-weight:700;
    margin: 0 0 8px 0;
}

p, blockquote{
    font-size: 17px;
    line-height:1.5em;
    margin: 0 0 8px 0;
}

p:last-child{
    margin-bottom:0;
}

.positionDescrip li, .resumeAddInfo li, .userTesting ul li, .highFid div ul li, .resume li{
    font-size: 17px;
    line-height:1.5em;
    margin: 0 0 8px 0;  
}

/* ======== header ======== */
.navbar ul{
    list-style: none;
    padding-left: unset;
}

header{
    text-align: center;
    margin: 32px auto 32px auto;
}

.contact{
    display:flex;
    gap:32px;
    justify-content: center;
    align-items: center;
}

.emailIcon{
    width:30px;
}

.linkedIcon{
    width:25px;
}

.navbar li{
    margin:16px;
    text-decoration:none;
}

.navbar li a{
    text-decoration: none;
    color:#016FB9;
}

header img{
    width:88px;
    height:auto;
}


/*======== video intro on index ========*/
#theVideo{
    width:80%;
    margin:auto auto 72px auto;
}

#myVideo{
    max-height:100%;
    max-width:100%;
    border-radius: 8px;
}


/*======== project cards ========*/
.projectHook{
    font-weight:700;
}

.projectGraphic{
    width:100%;
    height:100%;
    object-fit: cover;
}

.projectTitle{
    font-size: 28px;
}

.projectTitle ul li {
    list-style: none;
    display: inline; 
    margin-right:8px;
}

.projectTitle ul li:last-of-type{
    margin-right:unset;
}

.projectTitle ul{
    padding-left:unset;
    margin-bottom: 16px;
}

.companyName, .role{
    color: #727272;
    font-weight: 400;
}

.projectCard{
    width:80%;
    margin:auto auto 72px auto;
}

.projectCard > p, .halfSect > p, .viewProjectButton{
    margin-bottom:16px;
}

.viewProjectButton{
    display:flex;
    align-items: center;
    gap:8px;
    width:fit-content;
    color:#016FB9;
    text-decoration: none;
    font-weight: 600;
    margin-bottom:24px;
}

.viewProjectButton:hover, .navbar li a:hover{
    text-decoration: underline 1px;
    text-underline-offset: 4px;
    color:#016FB9;
}

.viewProjectButton > p{
    margin-bottom:0;
}

.arrow{
    width:20px;
    height:20px;
    transition:1s;
}

.viewProjectButton:hover .arrow{
    transform: translateX(4px);
    transition:0.1s;
}

.projectGraphic{
    transition:0.4s ease;
}

.projectGraphic:hover{
    transform: scale(1.01);
}

.imgContainer{
    overflow:hidden;
    border-radius: 32px;
    width:100%;
    height:300px;
}

.halfSect{
    margin-bottom: 72px;
}

.navEnd{
    text-align: center;
    margin-bottom:72px;
}

.stories > div{
    margin-bottom:32px;
}

.projectHalf .imgContainer > a, .stories > div > div >a {
    width:100%;
    height:300px;
    overflow:hidden;
}

.stories > div > div >a{
    display:inline-block;
}

.projectHalf .imgContainer > a > img, .stories > div > div > a > img{
    width:100%;
    height:100%;
    object-fit: cover;
}



/* ======== footer ======== */
footer{
    width:60%;
    margin:auto auto 72px auto;
    text-align: center;
}

footer h2{
    margin-bottom:16px;
}

.contactEnd{
    display:flex;
    align-items:center;
    gap:32px;
    justify-content: center;
}


/* ======== project internal pages (pet pulse) ======== */
.startImg{
    width:100%;
    height:400px;
    overflow: hidden;
    margin-bottom:72px;
}

.startImg img{
    width:100%;
    height:auto;
    object-fit: contain;
}

.projectIntro{
    width:90%;
    margin:auto auto 72px auto;
}

.projectMajor > p{
    margin:16px 0;
}

.projectMinor > div{
    margin-bottom:16px;
}

.projectBody, .otherProjects{
    width:90%;
    margin:auto;
}

article{
    margin-bottom:100px;
}

.emphasisSolution{
    background-color:#F0F0F0;
    padding:16px;
    border-radius: 8px;
}

.quotes blockquote{
    margin-bottom:32px;
}

blockquote span{
    display:block;
    margin-top:8px;
}

blockquote{
    margin: 32px 40px 0px 40px;
}

.projectImg, .cuzenImg, .petpulseImg, .carbonImg{
    width:100%;
    height:auto;
    border-radius:16px;
    box-shadow: 0px 00px 16px -8px rgba(44,37,37,0.15);
    margin-bottom:16px;
}

.cuzenImg, .petpulseImg, .carbonImg{
    margin-top:16px;
}

.caption{
    color: #727272;
    text-align: center;
}

.highFidSect div img, .highFidSectSplit div div img{
    width:60%;
    height:auto;
    display:flex;
    margin:auto;
}

.highFidSect{
    margin-bottom:72px;
}

.highFidSectSplit > div > div {
    width:50%;
}


.keyTakes div{
    margin-bottom:16px;
}

.organize div{
    margin-bottom:16px;
}

.layoutSolution > p{
    margin-bottom:32px;
}

.otherProjects{
    text-align: center;
}

.reflections > div > div{
    margin-bottom:16px;
}



/* ======== carbonology ======== */
.userResearch li{
    margin-bottom:8px;
}

.solutionFeatures > div{
    margin-bottom:16px;
}

.userResearchSurvey {
    margin-bottom:32px;
}

.highCarb{
    background-color: #FAFAFA;
    padding:32px;
    border-radius:16px;
}



/* ======== cuzen matcha ======== */
.highFidDescrip {
    margin-bottom: 100px;
}

.highFidGifs{
    width:100%;
    height:auto;
    margin:32px 0 72px 0;
}

.highFidGifs:last-child{
    margin-bottom:unset;
}

.mappingSolutions > p{
    margin-bottom:32px;
}


/* ======== photography page ======== */
.photography h2, .graphicPg h2{
    text-align: center;
    margin-bottom:32px;
}

.photography, .graphicPg{
    width:90%;
    margin:auto;
}

.photogrid div img{
    width:100%;
    height:auto;
    margin-bottom:16px;
}


/* ======== graphics page ======== */
.graphicPg h2{
    text-align:center;
}


/* ======== resume page ======== */
.resumeIntro{
    text-align: center;
    margin-bottom:72px;
}

.resumeIntro > div{
    display:flex;
    justify-content: center;
    gap:72px;
}

.resumeIntro div div > h3{
    margin-bottom:8px;
}

.resumeIntro > h2{
    margin-bottom:72px;
}

.resume, .resumeAddInfo{
    width:90%;
    margin:auto;
}

.resumeAddInfo > div ul, .resumeAddInfoSplit ul{
    list-style: none;
    padding-left:unset;
    margin:unset;
}

.edu > article > div{
    margin-bottom:32px;
}

.eduDescrip ul{
    margin:unset;
}

.resumeAddInfo li:last-child{
    margin-bottom:0;
}

.resumeAddInfoSplit{
    background: #fafafa;
    border-radius: 16px;
    padding:32px;
}


/* ======== about page ======== */
.textWeak{
    color: #727272;
}

.aboutMe{
    text-align:center;
}

.aboutPg, .aboutMe{
    margin:0 auto 72px auto;
    width:90%;
}

.whoAmI > div:first-of-type, .designPillar > p:first-of-type, .designPillar > div > div{
    margin-bottom:16px;
}

.portrait{
    width:20%;
    height:auto;
    border-radius: 100px;
    margin-top:32px;
}

.aboutMe img{
    width:80%;
    height:auto;
}




@media only screen and (min-width: 600px) {

    /* ======== text styling ======== */
    h2{
        font-size:36px;
    }

    h3{
        font-size:30px;
    }

    h4{
        font-size:24px;
    }

    /* ======== navbar styling ======== */
    header, .navbar ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header{
        width:80%;
        margin: 0 auto 0 auto;
    }

    .navbar ul{
        gap:32px;
    }

    header > a, header > .contact{
        flex:2;
    }

    header > a {
        display:flex;
        justify-content: flex-start;
    }

    header > .contact{
        display:flex;
        justify-content: flex-end;
    }

    header > a:after, header > .contact:before{
        content:'';
        display:flex;
    }

    .emailIcon{
        width:27px;
    }

    .linkedIcon{
        width:25px;
    }


    /* ======== main page project card styling ======== */
    .projectCard{
        width:60%;
        margin-bottom:100px
    }

    .imgContainer{
        width:100%;
        height:500px;
    }

    .halfSect > .imgContainer{
        height:400px;
    }

    .projectTitle{
        font-size:36px;
    }
    
    .halfSect{
        width:50%;
        margin-bottom:32px;
    }

    .halfSect > p{
        margin-bottom: 16px;
    }

    .projectCard:last-of-type{
        display:flex;
        gap:72px;
    }

    .projectHalf{
        display:flex;
        gap:72px;
    }


    /* ======== footer ======== */
    footer{
        text-align: left;
    }

    .contactEnd{
        justify-content: start;
    }


    /* ======== project internal pages (pet pulse) ======== */
    .startImg{
        height:450px;
    } 

    .projectIntro{
        width:80%;
        display:flex;
        justify-content: space-evenly;
        gap:72px;
    }
    
    .projectMajor{
        width:50%;
    }
    
    .projectBody{
        width:50%;
        margin:auto;
    }

    blockquote{
        margin: 32px 70px 0px 70px;
    }

    .keyTakes, .solutionFeatures {
        display:flex;
        gap:72px;
    }

    .keyTakes > div{
        width:50%;
    }

    .organize{
        display:flex;
        gap:72px;
    }

    .organize > div{
        width:50%;
    }

    .organize:first-of-type{
        margin-bottom:16px;
    }

    .stories{
        display:flex;
        margin:auto;
        gap:72px;
        width:60%;
    }

    .stories > div{
        width:50%;
    }

    .stories > div > .imgContainer{
        height:auto;
    }

    .otherProjects{
        margin-top:100px;
    }

    .highFidSect{
        display:flex;
        gap:72px;
    }


    .highFidSect div, .highFidSectSplit div > div{
        width:50%;
    }

    .highFidSect div img, .highFidSectSplit div div img{
        width:200px;
        height:auto;
        margin:auto;
    }

    .highFidSectSplit > div  {
        display:flex;
        gap:72px;
        margin-bottom:72px;
    }

    .highFidSect div p{
        margin-bottom:16px;
    }
    
    .highCarb > .highFidSect > div > img{
        width:300px;
        height:auto;
    }


    /* ======== carbonology ======== */
    .solutionFeatures div{
        width:33%;
        margin-bottom:32px;
    }

    .highCarb div{
        align-items:center;
    }


    /* ======== cuzen matcha ======== */
    .qualitativeResearch > div{
        display:flex;
        justify-content: center;
        gap:32px;
    }

    .qualitativeResearch{
        text-align:center;
        margin: 32px 0 40px 0;
    }

    .qualitativeResearch div > div > h4{
        margin-bottom:8px;
    }

    .qualitativeResearch div > div{
        width:33%;
    }

    .qualitativeResearch p:first-child{
        margin-bottom:16px;
        font-weight:600;
    }

    .highFidDescrip > div{
        display:flex;
        gap:72px;
    }

    .highFidDescrip h4, .highFidDescrip h5{
        width:30%;
    }

    .highFidDescrip > div > div{
        width:70%;
    }


    /* ======== photography page ======== */
    .photogrid{
        display:flex;
        gap:32px;
    }

    .column{
        width:33%;
        height:auto;
    }

    .photogrid div img{
        margin-bottom:32px;
    }

    .photography, .graphicPg{
        width:60%;
    }



    /* ======== graphic design page ======== */
    .graphicDisplayDiv > div{
        width:50%;
    }

    .graphicDisplayDiv div img{
        width:100%;
        height:auto;
        box-shadow: 0px 00px 16px -8px rgba(44,37,37,0.15);
    }

    .graphicDisplayDiv, .graphicUCD > div{
        display:flex;
        gap:72px;
    }

    .graphicUCD img{
        width:100%;
        height:auto;
        margin-bottom:32px;
        border-radius:8px;
    }



    /* ======== resume page ======== */
    .resume, .resumeAddInfo{
        width:60%;
        margin:auto;
    }

    .resume article{
        display:flex;
        gap:72px;
    }

    .position{
        width:50%;
    }

    .positionDescrip{
        width:50%;
    }

    .resume ul{
        padding-left:unset;
        margin-top:unset;
    }

    .resumeAddInfo{
        display:flex;
        gap:72px;
    }

    .resumeAddInfo article{
        width:50%;
    }

    .resumeAddInfo > div{
        display:flex;
        width:50%;
        gap:72px;
    }

    .resumeAddInfoSplit > div{
        display:flex;
        gap:72px;
    }


    /* ======== about page ======== */
    .aboutPg, .aboutMe{
        width:60%;
    }
    
    .designPillarList{
        display:flex;
        gap:72px;
    }

    .designPillarList div{
        width:33%;
    }

    .breakTime > div{
        display:flex;
        gap:32px;
    }

    .breakTime{
        margin-top:unset;
    }

    .breakTime > div > div{
        width:25%;
    }

    .breakTime div div img{
        width:100%;
        height:auto;
        object-fit: contain;
        border-radius: 8px;
    }

    

}